<h1>Edit {{climb.fullName}}</h1>

<div class="row">
    <form action="/climbs/{{climb.id}}?_method=PATCH" method="POST" class="col-md-6 col-md-offset-3">
        <!-- Nmae -->
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" value="{{climb.name}}" class="form-control">
        </div>
        <!-- Location -->
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" name="location" value="{{climb.location}}" class="form-control">
        </div>
        <!-- Garde -->
        <div class="form-group">
            <label for="grade">Grade:</label>
            <input type="text" name="grade" value="{{climb.grade}}" class="form-control">
        </div>
        <!-- Complete -->
        <div class="form-group">
            <label for="complete">Complete:</label>
            <input type="text" name="complete" value="{{climb.complete}}" class="form-control">
        </div>
        <!-- Submit Button -->
        <div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>

<div>
    <a href="/climbs/{{climb.id}}" class="btn btn-default">Back</a>
    <a href="/climbs" class="btn btn-default">Main Page</a>
</div>