<h1>Welcome to ClimbApp</h1>


<h1>My Climbs</h1>

<ol>
    {{#each climbs}}
    <li>
        <h1><a href="/climbs/{{this.id}}">{{this.name}}</a></h1>
        <h2>{{this.grade}}</h2>
        <h3>{{this.location}}</h3>
        <p>{{this.complete}}</p>
    </li>
    {{/each}}
</ol>

<a href="/climbs/new" class="btn btn-default">Create a New Climb</a>