<div class="container">
	<h1>{{climb.name}} ({{climb.grade}})</h1>
	<h3>Location - {{climb.location}}</h3>
	<!-- <p>{{climb.name}}</p> -->

	<div>
	    <a href="/climbs/{{climb.id}}/edit" class="btn btn-primary">Edit {{climb.name}}</a>
	</div>
	<br>
	<form action="/climbs/{{climb.id}}?_method=DELETE" method="POST">
	    <input type="submit" value="Delete" class="btn btn-danger" />
	</form>
	<br>
	<a href="/climbs" class="btn btn-default">Main Page</a>

	<a href="/" class="btn btn-default">Home</a>
</div>